@use '../../styles/variables' as *;

.query-wrapper__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
  padding: $spacing-xl;
  color: $color-text-secondary;
}
